In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
print(train_data.shape)
print(test_data.shape)

(137, 43)
(100000, 42)

In [4]:
train_data.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [7]:
x_train = train_data.drop(['Id','Open Date', 'City', 'City Group', 'Type', 'revenue'  ], axis=1)
x_train.head()

In [13]:
y_train = train_data['revenue']

In [10]:
x_test = test_data.drop(['Id','Open Date', 'City', 'City Group', 'Type'  ], axis=1)
x_test.head()

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,1,4.0,4.0,4.0,1,2,5,4,5,5,...,2.0,3.0,0,0,0,0,0,0,0,0
1,3,4.0,4.0,4.0,2,2,5,3,4,4,...,1.0,3.0,0,0,0,0,0,0,0,0
2,3,4.0,4.0,4.0,2,2,5,4,4,5,...,2.0,3.0,0,0,0,0,0,0,0,0
3,2,4.0,4.0,4.0,2,3,5,4,5,4,...,2.0,3.0,0,4,0,0,0,0,0,0
4,2,4.0,4.0,4.0,1,2,5,4,5,4,...,5.0,3.0,0,0,0,0,0,0,0,0

In [16]:
print(x_train.shape)
print(x_test.shape)

(137, 37)
(100000, 37)

In [27]:
x_train.shape

(137, 37)

In [18]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=1000)
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [28]:
x_test.shape

(100000, 38)

In [19]:
y_test_pred = rf.predict(x_test)

In [20]:
x_test['Prediction'] = y_test_pred

In [22]:
x_test.head()

,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,Prediction
0,1,4.0,4.0,4.0,1,2,5,4,5,5,...,3.0,0,0,0,0,0,0,0,0,4067566.0
1,3,4.0,4.0,4.0,2,2,5,3,4,4,...,3.0,0,0,0,0,0,0,0,0,2999068.0
2,3,4.0,4.0,4.0,2,2,5,4,4,5,...,3.0,0,0,0,0,0,0,0,0,5435276.0
3,2,4.0,4.0,4.0,2,3,5,4,5,4,...,3.0,0,4,0,0,0,0,0,0,4066618.0
4,2,4.0,4.0,4.0,1,2,5,4,5,4,...,3.0,0,0,0,0,0,0,0,0,7495092.0

In [24]:
Final_submission = pd.DataFrame()
Final_submission['Id'] = test_data['Id']
Final_submission['Prediction'] = y_test_pred

In [25]:
Final_submission.head()

   Id  Prediction
0   0   4067566.0
1   1   2999068.0
2   2   5435276.0
3   3   4066618.0
4   4   7495092.0

In [26]:
Final_submission.to_csv('Final_submission.csv', index=False)